
#social ul {
	margin: 0;
	padding: 0;
	text-align:center;
}

#social li {
	display: inline-block;
	list-style-type: none;
    padding-right: 10px;
}

#social a {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 5px 5px 0;
	padding: 8px 0;
	font-size: 30px;
	line-height: 0px;
	text-decoration:none;
	text-align: center;
	background: transparent;
	vertical-align: bottom;
	color: #6b7076;
	border: 2px solid #6b7076;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}



#social .instagram   a:hover { color: #2baae1; border-color: #2baae1; }
#social .linkedin    a:hover { color: #2baae1; border-color: #2baae1; }
#social .github      a:hover { color: #2baae1; border-color: #2baae1; }

#icons ul {
	margin: 0;
	padding: 0;
	text-align:center;
}

#icons li {
	display: inline-block;
	list-style-type: none; 	
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
     border-radius: 10px;
	 margin: 4px 0px 0px 8px;
}

#icons a {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0px 0px 0px 0px;
	padding: 10px 0;
	font-size: 30px;
	line-height: 0px;
	text-decoration:none;
	text-align: center;
	background: transparent;
	vertical-align: bottom;
	color: #fff;
	border: 0px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	 box-sizing: border-box;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
     border-radius: 10px;
}

#icons a:hover {
	border-width: 5px;
	padding: 5px 0;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#icons .icon1    { color: #fff; background-color: #1bbc9d; border-color: #1bbc9d;}
#icons .icon2    { color: #fff; background-color: #2fcc71; border-color: #2b9ad2;}
#icons .icon3    { color: #fff; background-color: #3598dc; border-color: #2b9ad2;}
#icons .icon4    { color: #fff; background-color: #9c59b8; border-color: #2b9ad2;}
#icons .icon5    { color: #fff; background-color: #34495e; border-color: #2b9ad2;}
#icons .icon6    { color: #fff; background-color: #f49c14; border-color: #2b9ad2;}
#icons .icon7    { color: #fff; background-color: #e77e23; border-color: #2b9ad2;}
#icons .icon8    { color: #fff; background-color: #808b8d; border-color: #2b9ad2;}
