{% extends "layout.html" %}
{% block content %}

<!-- fourth section - Information -->
      <!--<div id="information" class="pad-section">-->
      <div id="information" class="container-fluid">
        <div class="row-fluid">
          <div class="span6">
            <img class="img-responsive" src="{{ url_for('static', filename='media/header.jpg') }}" />
          </div>
            <div class="content">
              <h1>web design</h1>
              <h1>web development</h1>
              <h1>photography</h1>
            </div>
        </div>
      </div>
      <!-- /fourth section -->

    <br>
    <br>
    <hr />
    <div class="layout-body">
        <!-- second section - About -->
      <div id="about" class="pad-section">
        <div class="container">
          <div class="row">
            <br><br><br><br>
            <div class="col-sm-6">
              <img src="{{ url_for('static', filename='media/background.jpg') }}" alt="" />
            </div>
            <div class="col-sm-6 text-center">
              <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet.</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum metus et ligula venenatis, at rhoncus nisi molestie. Pellentesque porttitor elit suscipit massa laoreet metus.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /second section -->
  </div>

{% endblock %}