{% extends "layout.html" %}
{% block content %}

<script src="{{ url_for('static', filename='js/about.js') }}"></script>


  <div id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Inquiries? Offers? Want to play Starcraft? Shoot me a message.</h3>
          <form action="/contact" method="post">
            <p>{{ form.name }} Name</p>
            <p>{{ form.email }} Email</p>
            <p>{{ form.subject }} Subject</p>
            <p id="message">{{ form.message }} Message</p>
            <p><input type="submit" value="Send"></p>
          </form>
        </div>
      </div>
    </div>
  <!--</div>-->

{% endblock %}