{% extends "layout.html" %}
{% block content %}
<!--<script src="{{ url_for('static', filename='js/facebook.js') }}"></script>-->

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li><a href="#">Handpicked</a></li>
              {% for name in album_names %}
                <li><a href="#">{{ name }}</a></li>
              {% endfor %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          Handpicked
            <img src="{{photo}}">
          {% for album in album_photos %}
            <br>
            {{ album[0] }}
            {% for photo in album[1] %}
                <img src="{{photo}}">
            {% endfor %}
          {% endfor %}

        </div>
      </div>
    </div>
{% endblock %}
