{% extends "layout.html" %}
{% block content %}

<script src="{{ url_for('static', filename='js/resume.js') }}"></script>


  <div id="resume">
    <div class="row">

      <div class="col-sm-4 slider" id="resume-languages">
        <h1>Languages</h1>
      </div>

      <div class="col-sm-4" id="resume-languages-icons">
        {% for i in range(8) %}
          <img class="language-hover" id="languageicon{{i}}" src="../static/media/resume/language{{ i }}.png" alt="" />
        {% endfor %}
        <h1 id="language-header"></h1>
      </div>

      <div class="col-sm-4 slider" id="resume-software">
        <h1>Software</h1>
      </div>

      <div class="col-sm-4" id="resume-software-icons">
        {% for i in range(8) %}
          <img class="software-hover" id="softwareicon{{i}}" src="../static/media/resume/software{{ i }}.png" alt="" />
        {% endfor %}
        <h1 id="software-header"></h1>
      </div>


      <div class="col-sm-4 slider" id="resume-site">
        <h1>About This Site</h1>
      </div>

      <div class="col-sm-4" id="resume-about">
        <h1 id="resume-about-text">
            Written in Python using Flask + extensions. Utilizes Jquery and Bootstrap. Features Flickr API for
            photography section. Git repo here: <a href="https://github.com/vnguyen94/website2.0" target="_blank">Link</a>
        </h1>
      </div>


    </div>

    <div class="row"  id="resume-link">
      <a class="col-sm-12" target="_blank" href="https://drive.google.com/file/d/0B_KWEDMXhj1EcEFwSGppRm5SLVk/edit?usp=sharing"></a>
      <h1 id="resume-hover1">Resume</h1>
      <h1 id="resume-hover2">Link to Google Drive PDF</h1>
    </div>

  </div>

<style>
  footer {background-color: #454545}
</style>

{% endblock %}