{% extends "layout.html" %}
{% block content %}

<script src="{{ url_for('static', filename='js/resume.js') }}"></script>


  <div id="resume">
    <div class="row">

      <div class="col-sm-4" id="front-end">
        <h1>Front-end</h1>
      </div>
      <div class="col-sm-4" id="back-end">
        <h1>Back-end</h1>
      </div>
      <div class="col-sm-4" id="framework">
        <h1>Frameworks</h1>
      </div>

    </div>

    <div class="row"  id="resume-link">
      <a class="col-sm-12" href="https://drive.google.com/file/d/0B_KWEDMXhj1EcEFwSGppRm5SLVk/edit?usp=sharing"></a>
      <h1>Resume</h1>
    </div>

  </div>

{% endblock %}